{% extends "layout.twig" %}
{% block title %} My Purchases {% endblock %}
{% block main_container %}
<h2>My Purchases</h2>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Title</th>
			<th>Details</th>
			<th>Price</th>
			<th class="col-md-1"></th>
		</tr>
		</thead>
		<tbody>
		{% for offer in offers %}
			<tr>
				<td>{{ offer.title }}</td>
				<td>{{ offer.details }}</td>
				<td>{{ offer.price }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}